/* Third Page container */
.third-page {
    height: 80vh; /* or any desired height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee9e9;
    display: flex;
    padding: 20px;
    flex-direction: column; /* Center text vertically */
  }
  
  /* Text container */
  .text-container {
    text-align: center;
    margin-top: 30%;
  }
  
  
  /* Text styles */
  .text-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: gray;
    text-align: center;
  }

  .text-container h1 {
    font-weight: 49px;
    text-align: center;
  }
  
  .text-container p {
    font-size: 16px;
    text-align: center;
  }
  
  .best {
    border-bottom: 3px solid #e1ad01;
    width: 100px;
  }

  .view-items {
    background-color: #e1ad01;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  margin-top: 10%;
  text-align: center;
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  }